body {
  font-family: Georgia, 'Times New Roman', Times, serif;

  -webkit-transform: rotate(-90deg);
  margin-left: -80px;
  margin-top: 68px;

  height: 735px;
  width: 900px;
}

#calendar {
  height: 735px;

  overflow-y: visible;
  overflow-x: hidden;
}

.date-row,
.event-row {
  font-size: 35px;
}

.date-row:not(:first-child) {
  margin-top: 30px;
}

.date-row {
  font-weight: bold;
  clear: left;
}

.event-row {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 10px;
  clear: left;
  border-bottom: 3px solid;
}

.time {
  float: right;
  margin-left: 60px;
}
